/******************************************************************************
    Single collection

    Images in a card layout
 *****************************************************************************/
.image-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: space-around;
}

.image-list .image {
    display: flex;
    flex-flow: column nowrap;
    margin: .5rem;
    padding: 0;
    height: 5rem;
    width: 5rem;
}

.image-list .image:hover,
.image-list .image:focus {
    top: -10px;
    box-shadow: 0 0.3rem 0.3rem 0.1rem var(--text-dark);
}

.image-list .image .link {
    max-width: 100%;
    max-height: 100%;
    display: flex;
}

.image-list .image .img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.buttons .button {
    width: 70%;
}