@CHARSET "UTF-8";
/******************************************************************************
    Collections view
 *****************************************************************************/
header #header-user-link {
    color: var(--text-light);
    text-decoration: underline dashed;
}
header #header-user-link:hover {
    color: var(--primary-light);
    text-decoration: underline solid;
}

/******************************************************************************
    Collections Card layout
 *****************************************************************************/
.collections-list {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-content: space-around;
}

.collections-list .collection {
    margin: .5rem;
    padding: 0;
}

.collections-list .collection:hover,
.collections-list .collection:focus {
    top: -10px;
    box-shadow: 0 0.3rem 0.3rem 0.1rem var(--button-shadow);
}

.collections-list .collection .collection-link {
    text-decoration: none;
    color: inherit;
    padding: 1.5rem;
}