@CHARSET "UTF-8";
/************************************************************
	Image info editing page
*************************************************************/

.image-container {
    max-height: 30rem;
}
.image-container .image {
    object-fit: scale-down;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}

.box.warning {
    border-color: var(--error);
}
