@CHARSET "UTF-8";
/************************************************************
	HEADER STYLINGS (ALL PAGES)
*************************************************************/
/*
	Main element
	Display: flex for centering elements
 */
.site-header {
	background: var(--primary-darker);
	color: var(--text-light);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: .3rem;
	flex-wrap: wrap;
}

.breadcrumbs-navigation {
	word-break: keep-all;
}

.breadcrumbs-navigation * {
	display: inline-block;
	margin: auto 0;
}

.breadcrumbs-navigation-mopsi-logo {
	margin: auto;
	max-height: 1.5rem;
}


.breadcrumbs-navigation .separator {
	margin: 0 .5rem;
}

.site-header .header-page-link {
	color: var(--text-light);
	text-decoration: underline dashed;
}
.site-header .header-page-link:hover {
	color: var(--primary-light);
	text-decoration: underline solid;
}

/*
	Default font here a bit heavy, drop font-weight a bit
 */
.site-header h1.page-title {
	font-weight: lighter;
	overflow: hidden;
	white-space: nowrap;
	max-width: 80vw;
	display: flex;
	text-overflow: ellipsis;
}

/************************************************************
	FOOTER STYLINGS (ALL PAGES)
*************************************************************/
.site-footer {
	display: flex;
	flex: 1 0;

	/*background: var(--primary);*/
	/*color: var(--text-light);*/

	justify-content: space-between;
	align-items: center;

	min-height: 2.5rem;
}

.site-footer .settings-link {
}


.site-footer .right .material-icons {
	font-size: 2rem;
}

.site-footer .svg.settings {
	height: 2rem;
	margin: .2rem;
}