@CHARSET "UTF-8";
/************************************************************
	HEADER STYLINGS (ALL PAGES)
*************************************************************/
/*
	Main element
	Display: flex for centering elements
 */
header.site-header {
	background: var(--primary-darker);
	color: var(--text-light);
	display: flex;
	justify-content: center;
	padding: .3rem;
}

/*
	Default font here a bit heavy, drop font-weight a bit
 */
header.site-header h1.page-title {
	font-weight: lighter;
}

/************************************************************
	FOOTER STYLINGS (ALL PAGES)
*************************************************************/
footer.site-footer {
	display: flex;
	flex: 1 0;

	background: var(--primary);
	color: var(--text-light);

	justify-content: space-between;
	align-items: center;

	min-height: 2.5rem;
}

footer.site-footer .settings-link {
	padding: 0 2rem;
}


footer.site-footer .right .material-icons {
	font-size: 2rem;
}

footer.site-footer .svg.settings {
	height: 2rem;
	margin: .2rem;
}