@CHARSET "UTF-8";

.main-body-container {
	background-color: var(--site-bg);
}

.title{
	font-size: 4rem;
	color: var(--accent);
	margin: auto;
	text-align: center;
}

.box {
	background: var(--site-bg-white);
	padding: 1rem;
	border-radius: .2rem;
}

