@CHARSET "UTF-8";
/**
 * Set margin top on all elements, except first child
 * See: https://alistapart.com/article/axiomatic-css-and-lobotomized-owls
 */
* {
	margin: 0;
	padding: 0;
}
* + * {
	margin-top: 1.5em;
}
.compact * + * {
	margin-top: 0.65rem;
}
.margins-off > * {
	margin-top: 0; /* Note: this is for all children. */
}
/**
 * Needed for third-party elements, e.g. Google Maps, which do not like the setup above
 */
.margins-initial * {
	margin-top: initial;
}

/**
 * Colors, and other variables used on the site;
 * Colors taken from Google's material design
 * https://www.materialpalette.com/
 */
:root {
	--primary-dark: #303F9F; /* Indigo 700 */
	--primary: #3F51B5; /* Indigo 500 */
	--primary-light: #C5CAE9; /* Indigo 100 */
	--primary-lighter: #e8eaf6; /* Indigo 100 */

	--accent-dark: #c51162; /* Pink A700 */
	--accent: #FF4081; /* Pink A200 */
	--accent-light: #ff80ab; /* Pink A100 */
	--accent-lighter: #fce4ec; /* Pink A100 */

	--text-dark: #212121;
	--text-light: #FFFFFF;
	--secondary-text: #757575;

	--divider-dark: #616161;
	--divider: #BDBDBD;
	--divider-light: #f5f5f5;


	--site-bg-white: white;
	--site-bg-dark: #4e4e4e;

	--success: #5ccc5c;
	--error: #B00020;
	--info: var(--primary-light);
	--warning: #f79b19;
}

.info { background-color: var(--info); color: var(--text-dark); }
.success { background-color: var(--success); color: var(--text-dark); }
.error { background-color: var(--error); color: var(--text-light); }
.warning { background-color: var(--warning); color: var(--text-dark) }

html {
	height: 100vh;
}

body {
	background-color: var(--site-bg-dark);
	min-height: 100%; /* 100% of html's 100vh */
}

/**
 * Centering material icons a bit, they look a bit off without.
*/
.material-icons {
	vertical-align: middle;
}

/* A better looking default horizontal rule */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid var(--primary);
	margin: 1rem 0;
	padding: 0;
}

::-moz-selection {
	background: var(--primary-light);
	text-shadow: none;
}
::selection {
	background: var(--primary-light);
	text-shadow: none;
}

/**
	Only used for debugging.
*/
.dev-borders * {
	outline: 1px dashed var(--error);
}

/************************************************************
	Button
*************************************************************/
input[type=submit],
button,
.button {
	display: inline-block;
	padding: 1rem;

	justify-content: center; /* Horizontal align */
	align-items: center; /* Vertical align */

	border-radius: 5px;
	transition-duration: 0.2s; /* Animation on button press */
	border: solid 1px;
	text-decoration: none;

	width: 100%;
}

/* Normal button */
input[type=submit], button, .button{
	color: var(--text-light); background-color: var(--accent); border-color:var(--accent-dark);
}
/* Normal button :hover */
input[type=submit]:hover, button:hover, .button:hover {
	color: var(--text-light); background-color: var(--accent-dark); border-color:var(--accent-dark);
}
/* Normal button :focus (mousedown event basically) */
input[type=submit]:active, button:active, .button:active {
	color: var(--text-dark); background-color: var(--accent-light); border-color:var(--accent-light);
}

.button.light {
	color: var(--text-dark); background-color: var(--primary-light); border-color:var(--primary);
}
.button.light:hover {
	color: var(--text-dark); background-color: var(--primary-lighter); border-color:var(--primary-dark);
}

/* Normal button :disabled */
input[type=submit]:disabled, button:disabled, .button:disabled {
	color:dimgrey; background-color: darkgrey; border-color:#212121;
}

/************************************************************
	Basic modal
*************************************************************/
dialog {
	margin: auto;
	padding: 1rem;
	border: 0;
	box-shadow: 0 0 1em black;
}

dialog::backdrop {
	/* make the backdrop a semi-transparent black */
	background-color: rgba(0, 0, 0, 0.4);
}
dialog + .backdrop { /* polyfill */
	/* make the backdrop a semi-transparent black */
	background-color: rgba(0, 0, 0, 0.4);
}

/******************************
Pieni spinning-icon
******************************/
.loading {
	/*background-color: #6f6f6f;*/
	border: .5rem solid;
	border-color: transparent var(--accent);
	border-radius: 100%;
	width: 2rem;
	height: 2rem;
	animation: spin 4s linear infinite;
	margin: auto;
}

.loading.small {
	width: 1rem;
	height: 1rem;
	border-width: .25rem;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/************************************************************
	Form
*************************************************************/
form [type=submit] {
	display: block;
}

form input {
	display: block;
	padding: .5rem;
	width: 100%;

	/* Setting box-shadow (used for :required, set below) overrides deault border styling */
	background:#f1f1f1;
	border:1px solid #ccc;

	/* submit-button didn't have word-wrap without this */
	white-space: normal;
	word-wrap: break-word;
}

form label {
	display: block;
	/*padding: 0 .5rem;*/
}

/* Required input label marked with red * */
form span.required:after {
	content:" *";
	color: var(--error);
}
/* Required input marked with red left border */
form input:required,
form p.required-input {
	box-shadow: -.2rem 0 0 0 var(--error);
}

/************************************************************
	Table
*************************************************************/
table {
	width: 100%;
	border-collapse: collapse;
	/*table-layout: fixed;*/ /* Didn't get to work */
}
td, th {
	border: 1px solid var(--divider);
	padding: 0.5rem;
}
thead {
	background-color: var(--primary);
	color: var(--text-light);
}
thead tr:first-child {
	background-color: var(--accent-dark);
}
tbody tr:nth-child(odd) {
	background-color: var(--primary-lighter);
}
tbody tr:nth-child(even) {
	background-color: var(--divider-light);
}
tbody tr:hover {
	background-color: var(--accent-lighter);
}

/************************************************************
	Stuff
*************************************************************/
.side-note {
	font-size: 90%;
	font-style: oblique;
}

.feedback {
	width: 100%;
	font-weight: bold;
}
.feedback:empty {
	display: none;
}
.feedback > p {
	padding: 1rem 5rem;
}

[hidden],
.hidden {
	display: none;
}

.box {
	background: var(--site-bg-white);
	padding: 1rem;
	border-radius: .2rem;
}


/************************************************************
	Most basic layout
	Basically every page will overwrite this
*************************************************************/
body.grid {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows:	auto
						auto
						1fr
						auto;
	grid-template-areas:
			"header"
			"feedback"
			"content"
			"footer";
}

.site-header {
	grid-area: header;
}
.feedback {
	grid-area: feedback;
}
.main-body-container {
	grid-area: content;
	width: 100%;
	max-width: 50rem;
	justify-self: center;
}
.site-footer {
	grid-area: footer;
}
