@CHARSET "UTF-8";
/**
 * Set margin top on all elements, except first child
 * See: https://alistapart.com/article/axiomatic-css-and-lobotomized-owls
 */
* {
	margin: 0;
	padding: 0;
}
* + * {
	margin-top: 1.5em;
}
.compact * + * {
	margin-top: 0.65rem;
}
.margins-off > * {
	margin-top: 0;
}
/**
 * Needed for third-party elements, e.g. Google Maps, which do not like the setup above
 */
.margins-initial * {
	margin-top: initial;
}

/**
 * Colors, and other variables used on the site;
 * Colors taken from Google's material design
 */
:root {
	--primary-dark  : #303F9F; /* Indigo 700 */
	--primary  : #3F51B5; /* Indigo 500 */
	--primary-light : #C5CAE9; /* Indigo 100 */
	--primary-color-text : #FFFFFF;
	--accent-dark : #c51162; /* Pink A700 */
	--accent : #FF4081; /* Pink A200 */
	--accent-light : #ff80ab; /* Pink A100 */
	--primary-text    : #212121;
	--secondary-text  : #757575;
	--divider         : #BDBDBD;

	--error : #B00020;

	--site-bg-white: white;
	--site-bg-dark: #171717;
}

html {
	height: 100vh;
}

body {
	background-color: var(--site-bg-white);
	color: var(--primary-text);
	min-height: 100%; /* 100% of html's 100vh */
}

/**
 * Centering material icons a bit, they look a bit off without.
*/
.material-icons {
	vertical-align: middle;
}

/* A better looking default horizontal rule */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid var(--primary);
	margin: 1rem 0;
	padding: 0;
}

::-moz-selection {
	background: var(--primary-light);
	text-shadow: none;
}
::selection {
	background: var(--primary-light);
	text-shadow: none;
}

/*
	Fixes problem with possible PHP debug printing going beyond HTML-width,
	which just looks ugly. Mostly for mobile devices.
 */
pre {
	white-space: pre-wrap; /* Wraps at spaces if line too long. */
	word-wrap: break-word; /* Should break when one word too long. */
	overflow: auto; /* Should add a scroll bar, doesn't seem to do anything. */
}

.dev-borders * {
	border: 1px dashed var(--error);
}

/************************************************************
	USEFUL ELEMENTS
	SEEMS TO BE MOSTLY BUTTONS FOR NOW...
*************************************************************/
input[type=submit],
button,
.button {
	display: inline-block;
	padding: 1rem;
	margin: .1rem;

	justify-content: center; /* Horizontal align */
	align-items: center; /* Vertical align */

	border-radius: 5px;
	transition-duration: 0.2s; /* Animation on button press */
	border: solid 1px;
	text-decoration: none;
}

/* Normal button */
input[type=submit], button, .button{
	color: var(--primary-color-text); background-color: var(--accent); border-color:var(--accent);
}
/* Normal button :hover */
input[type=submit]:hover, button:hover, .button:hover {
	color: var(--primary-color-text); background-color: var(--accent-dark); border-color:var(--accent-dark);
}
/* Normal button :focus (mousedown event basically) */
input[type=submit]:active, button:active, .button:active {
	color: var(--primary-text); background-color: var(--accent-light); border-color:var(--accent-light);
}

/* Normal button :disabled */
input[type=submit]:disabled, button:disabled, .button:disabled {
	color:dimgrey; background-color: darkgrey; border-color:#212121;
}

/************************************************************
	ACTUAL STYLINGS (ALL PAGES) AND NOT JUST RANDOM STUFF
*************************************************************/
body.grid {
	display: flex;
	flex-direction: column;
}

.main-body-container {
	flex: 1 0 auto;
	max-width: 50rem;
	min-width: 20rem;
	margin: 1em auto;
}
