@CHARSET "UTF-8";

.main-body-container {
	max-width: 100%;
}

.map {
	flex-grow: 1;
}

.site-footer {
	display: none;
}

/************************************************************
	Mopsi clustering API CSS (formerly thumb.css)
*************************************************************/
.dot {
	height: 25px;
	width: 25px;
	background-color: #FFFF00;
	text-align: center;
	border-radius: 50%;
	display: inline-block;
}

/**************************
    Overlay
 ***************************/
.dark-overlay-bg {
	z-index: 2;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: hsla(0, 0%, 0%, 0.9);
	margin: 0;
	padding: 0;
}

.overlay-container {
	height: 100%;
	overflow: hidden;

	display: grid;
	grid:	"header" auto
		        "image" 1fr
		        / auto;
}

.overlay-header-container {
	grid-area: header;
	padding: 1.5rem;
	background-color: hsl(0, 0%, 10%);
	color: whitesmoke;
	display: flex;
	flex-direction: row;
}

.image-name {
	text-align: center;
}

.button#closeOverlay {
	background-color: hsl(0, 0%, 10%);
	color: var(--warning);
	border: var(--warning) 1px solid;
	margin: 0;
}
/* Flip colours, and change mouse cursor to pointer */
.button#closeOverlay:hover {
	background-color: var(--warning);
	color: hsl(0, 0%, 10%);
	cursor:pointer;
}

.button#closeOverlay .material-icons {
	margin: 0;
}

.overlay-image-container {
	grid-area: image;
	max-height: 80vh;
}
.overlay-image-container .image-full {
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	display: block;
	background-color: white;
}