@CHARSET "UTF-8";

.main-body-container {
	max-width: 100%;
}

.map {
	height: 100%;
	width: 100%;
}

/************************************************************
	Mopsi clustering API CSS (formerly thumb.css)
*************************************************************/
.dot {
	height: 25px;
	width: 25px;
	background-color: #FFFF00;
	text-align: center;
	border-radius: 50%;
	display: inline-block;
}
