.pagination {
	display: flex;
	flex-direction: column;
	align-content: space-between;
	width: 100%;
	max-width: 40rem;
	margin-left: auto;
	margin-right: auto;
}

.options {
	display: flex;
	justify-content: space-between;
}

.options .option {
	width: auto;
	display: inline;
	padding: .5rem;
}
.options select option {
	background-color: white;
}

.page-navigation {
	display: flex;
	justify-content: space-between;
}

.page-navigation .buttons {
	display: flex;
	flex-direction: row;
}

.page-navigation .buttons a {
	text-decoration: none;
	width: 5rem;
	margin: 0;
}

.page-navigation .button {
	color: var(--primary-darker);
	background-color: var(--content-box-bg);
	border: var(--primary) 1px solid;
}
.page-navigation .button.disabled {
	visibility: hidden;
}

.page-navigation .button:hover {
	color: var(--text-light);
	background-color: var(--primary-darker);
	border: var(--primary) 1px solid;
}

.page-navigation .current {
	margin: 0 2rem;
	overflow: visible;
	white-space: nowrap;
}

.page-navigation .current .page-input {
	padding: .7rem;
	text-align: right;
	appearance: textfield;
	width: 100%;
	max-width: 4rem;
	background-color: var(--site-bg);
	border: 0;
	border-bottom: 1px var(--text-dark) solid;
}

.page-navigation .current .page-input:focus,
.page-navigation .current .page-input:active,
.page-navigation .current .page-input:hover {
	background-color: whitesmoke;
	border-bottom-color: var(--primary);
}

.page-navigation .current .separator {
	margin: 0 .2rem;
}

.current-ipp-value {
	text-align: center;
}
