.pagination {
	display: flex;
	flex-direction: column;
	align-content: space-between;
	width: 100%;
	max-width: 40rem;
	margin-left: auto;
	margin-right: auto;
}

.options {
	display: grid;
	grid: "selectIPP sortBy sortOrder" auto
            / 30% 35% 30%;
	gap: .5rem 0;
	justify-items: center;
}

.options select {
	width: auto;
	display: inline;
	padding: .5rem;
}

.options .items-per-page {
	grid-area: selectIPP;
}

.options .sort-by {
	grid-area: sortBy;
}

.options .sort-order {
	grid-area: sortOrder;
}

.page-navigation {
	display: grid;
	grid: "prev current next" auto
            / auto 1fr auto;
	justify-content: space-between;
}

.page-navigation .backward {
	grid-area: prev;
	white-space: nowrap;
}

.page-navigation .current {
	grid-area: current;
	margin: auto;
	white-space: nowrap;
}

.page-navigation .forward {
	grid-area: next;
}

.page-navigation .buttons {
	display: flex;
	flex-direction: row;
}

.page-navigation .buttons > * + * {
	margin-left: 10px;
}

.page-navigation .backward :first-child {
	border-radius: 45% 0 0 45%;
}

.page-navigation .backward :last-child {
	border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.page-navigation .forward :first-child {
	border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.page-navigation .forward :last-child {
	border-radius: 0 45% 45% 0;
}

.page-navigation .buttons a {
	text-decoration: none;
	width: 5rem;
	margin: 0;
}

.page-navigation .current .page-input {
	padding: .7rem;
	text-align: right;
	appearance: textfield;
	width: 100%;
	max-width: 5rem;
	background-color: var(--site-bg);
	border: 0;
	border-bottom: 1px var(--text-dark) solid;
}

.page-navigation .current .page-input:focus,
.page-navigation .current .page-input:active,
.page-navigation .current .page-input:hover {
	background-color: whitesmoke;
	border-bottom-color: var(--primary);
}

.page-navigation .current .separator {
	margin: 0 .2rem;
}

.current-ipp-value {
	text-align: center;
}