@CHARSET "UTF-8";
/************************************************************
	SETTINGS STYLINGS
*************************************************************/

.main-body-container {
	/* Default max-width set in main.css is a bit much here, hence 30rem set here */
	max-width: 30rem;
}

label {
	padding: 1rem;
	background-color: var(--input-bg);
	border-radius: var(--border-radius);
}


footer.site-footer .settings-link {
	display: none;
}