@CHARSET "UTF-8";
/************************************************************
	SETTINGS STYLINGS
*************************************************************/

label {
	padding: 1rem;
	background-color: var(--input-bg);
	border-radius: var(--border-radius);
}


footer.site-footer .settings-link {
	display: none;
}