@CHARSET "UTF-8";

.button.return {
    background-color: var(--site-bg);
    color: var(--text-dark);

    border: 1px solid var(--secondary-text);
    width: 40%;
}

#upload-form {
    padding: 0;
    background-color: inherit;
}

#upload-form  #fileinput-label {
    display: grid;
    place-items: center center;
}

#upload-form  #fileinput-label .label {
    display: grid;
    place-items: center;
}

#upload-form  #fileinput-label .label .material-icons {
    font-size: 3rem;
}

#upload-form  #fileinput-label #file-input {
    width: 100%;
    border: 1px dashed black;
    height: 7rem;
}

#upload-form #submit-button {
    font-size: larger;
    margin: 1rem auto;
    width: 50%;
    height: 5rem;
}

svg.svg-icon {
    color: red;
    margin: .5rem;
}
