# PhpStorm files
.idea/

# Sensitive files kept in same directory on localhost
cfg/config.ini
collections/

# Testing stuff not important
tests/img/
tests/img-dataset/
tests/temp/

# All exiftool files
exiftool/*
# ... excecpt the latest version archive
!exiftool/Image-ExifTool-*